@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
/* regular */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
/* medium */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
/* semibold */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
/* bold */

/* =============================================== GENERAL STYLES =============================================== */
html {
    font-family: 'Exo 2', sans-serif;
    font-size: 0.557vw;
    color: #666666;
    background-color: #fbfbfb;
}

a {
    text-decoration-color: #111;
    color: #111;
}

input:not([type='checkbox']):not([type='submit']),
.main__upload-file {
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 1.2rem;
    display: block;
    width: 100%;
    height: 50%;
    padding: 1.2rem 1rem;
    cursor: text;
    overflow: hidden;
}

/* =============================================== MAIN STYLES =============================================== */
.main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.main__block {
    grid-column: 3 / span 8;
    grid-row: 1 / span 6;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 2.4rem;
    padding: 5.6rem 0 0 5.6rem;
    font-size: 1.6rem;
}
@media (max-width: 1050px) {
    .main__block {
        grid-column: 2 / span 10;
        grid-row: 2 / span 2;
    }
}

/* .main__block-decoration {} */

.main__form-title {
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: #333;
}

.main__form-title span:first-child {
    font-weight: 500;
    font-size: 3.2rem;
}

/* .main__form-title p {} */

.main__form {
    grid-column: 1 / span 5;
    grid-row: 4 / span 9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2.4rem;
    column-gap: 1.6rem;
}

div[class^='main__input'],
div[class^='main__confirm'],
div[class^='main__show'] {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* .main__input-name {} */

.main__input-photo input {
    display: none !important;
}

.main__input-email,
.main__show-password {
    grid-column: span 6 !important;
}

/* .main__input-password {}

.main__confirm-password {} */

.main__show-password label {
    color: #333;
}

.main__show-password span[flag='true'] {
    color: rgba(255, 0, 0, 0.75);
}

.main__show-password input {
    cursor: pointer;
}

.main__submit-button {
    grid-column: 3 / span 2;
    height: 65%;
    background-color: rgba(17, 17, 17, 0.25);
    color: #fff;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    border: none;
    border-radius: 3.2rem;
    cursor: pointer;
    transition: background-color 0.75s linear;
}

.main__block-decoration:last-of-type {
    grid-column: 6 / span 3;
    grid-row: 3 / span 6;
    justify-self: center;
    align-self: center;
}