/* =============================================== GENERAL STYLES =============================================== */
html {
    color: #fff;
    background-color: #2A2B2F;
}

/* =============================================== ASIDE STYLES =============================================== */
.aside {
    background-color: #222327;
}

.list-item {
    color: rgba(253, 253, 253, 0.5);
}

.list-item:hover {
    background-color: rgba(255, 255, 255, 0.04);
    color: rgb(255, 255, 255);
}

.projects-list-item__edit-project-button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.aside__switch-block {
    background-color: rgba(255, 255, 255, 0.04);
    border: 0.1rem solid rgba(255, 255, 255, 0.06);
}

.switch-theme {
    color: rgba(255, 255, 255, 0.5);
}

.switch-theme[state='active'] {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.06);
}

.switch-block__slider {
    box-shadow: 0rem 0rem 0.5rem rgba(28, 29, 34, 0.16);
}

/* =============================================== MODAL WINDOWS STYLES =============================================== */
#modal-background {
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-background>div[class$='modal-window'] {
    background-color: #2A2B2F;
}

*[id^='project'],
*[id^='task'],
*[id^='search'] {
    background-color: #2A2B2F;
    color: #fff;
    font-weight: 600;
}

.create-smth-button:hover {
    box-shadow: 0.2rem 0.2rem 1rem rgba(28, 29, 34, 0.16);
}