{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Вход</title>
</head>

<body>
    <header class="header">
        <div class="header__back-to-register-block">
            <a href="{% url 'register' %}">
                <img src="{% static 'img/register|login/arrow-left.svg' %}" alt="Arrow left">
            </a>
        </div>
        <div class="header__decoration-block">
            <img src="{% static 'img/register|login/circle.svg' %}" alt="Circle">
        </div>
    </header>

    <main class="main">
        <div class="main__block">
            <div class="main__form-title">
                <span>Войти в аккаунт</span>
                <span>Нет аккаунта? <a href="{% url 'register' %}">Создать</a></span>
            </div>

            <form class="main__form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="main__input-email">
                    <label for="email">* Введите адрес электронной почты</label>
                    <input type="email" name="email" id="email" value="{{ email }}">
                </div>
                <div class="main__input-password">
                    <label for="password">* Введите пароль</label>
                    <input type="password" name="password" id="password" value="{{ password }}">
                </div>
                <div class="main__show-password">
                    <span flag="{{ flag }}">{{ hint }}</span>
                    <div>
                        <input type="checkbox" name="show" id="show">
                        <label for="show">Показать пароль</label>
                    </div>
                </div>
                <input class="main__submit-button" name="submit" type="submit" value="Войти в аккаунт">
            </form>
        </div>
    </main>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>