{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
    <title>Подтверждение сброса пароля</title>
</head>

<body>
    <header class="header">
        <div class="header__back-to-login-block">
            <a href="{% url 'login' %}">
                <img src="{% static 'img/register-login/arrow-left.svg' %}" alt="Arrow left">
            </a>
        </div>
        <div class="header__decoration-block">
            <img src="{% static 'img/register-login/circle.svg' %}" alt="Circle">
        </div>
    </header>

    <main class="main">
        <div class="main__block">
            <div class="main__form-title">
                <span>Подтверждение сброса пароля</span>
            </div>

            <form class="main__form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="main__input-email">
                    <label for="confirmation-code">* Введите код подтверждения</label>
                    <input type="text" name="confirmation-code" id="confirmation-code">
                </div>
                <div class="main__input-password">
                    <label for="password">* Введите новый пароль</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="main__confirm-password">
                    <label for="confirm_password">* Повторите пароль</label>
                    <input type="password" name="confirm_password" id="confirm_password">
                </div>
                <div class="main__show-password">
                    <span colorized="{{ colorized }}">{{ hint }}</span>
                    <div>
                        <input type="checkbox" name="show" id="show">
                        <label for="show">Показать пароль</label>
                    </div>
                </div>
                <input class="main__submit-button" name="submit" type="submit" value="Сбросить пароль">
            </form>
        </div>
    </main>
    <script type='module' src="{% static 'js/password-reset.js' %}"></script>
</body>

</html>