{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рабочее пространство</title>
    <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/workspace-base.css' %}">
    {% if theme %}
    <link rel="stylesheet" href="{% static 'css/workspace-black.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/workspace-white.css' %}">
    {% endif %}
</head>

<body class="body">
    <aside class="aside">
        <div class="aside__workspace">
            <div class="workspace__title block-title">
                <span>Рабочее пространство</span>
                <a class="workspace__create-smth-button">
                    {% if theme %}
                    <img src="{% static 'img/workspace/plus-icon-light.svg' %}" alt="+">
                    {% else %}
                    <img src="{% static 'img/workspace/plus-icon.svg' %}" alt="+">
                    {% endif %}
                </a>
            </div>
            <div class="workspace__projects-section">
                <div class="projects-section__title block-title">
                    <label for="projects-checkbox" class="show-items-button">
                        <span>Проекты</span>
                        <input type="checkbox" id="projects-checkbox">
                        {% if theme %}
                        <img src="{% static 'img/workspace/arrow-light.svg' %}" alt="←">
                        {% else %}
                        <img src="{% static 'img/workspace/arrow.svg' %}" alt="←">
                        {% endif %}
                    </label>
                </div>
                <ul class="projects-section__projects-list items-list">
                    {% for project in own_projects %}
                    <li class="projects-list__item list-item">
                        <span p-type="own">{{ project.title }}</span>
                        <a class="projects-list-item__edit-project-button">
                            {% if theme %}
                            <img src="{% static 'img/workspace/three-dots-light.svg' %}" alt="...">
                            {% else %}
                            <img src="{% static 'img/workspace/three-dots.svg' %}" alt="...">
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    {% for project in other_projects %}
                    <li class="projects-list__item list-item">
                        <span p-type="other">{{ project.title }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="workspace__tasks-section">
                <div class="tasks-section__title block-title">
                    <label for="tasks-checkbox" class="show-items-button">
                        <span>Задачи</span>
                        <input type="checkbox" id="tasks-checkbox">
                        {% if theme %}
                        <img src="{% static 'img/workspace/arrow-light.svg' %}" alt="←">
                        {% else %}
                        <img src="{% static 'img/workspace/arrow.svg' %}" alt="←">
                        {% endif %}
                    </label>
                </div>
                <ul class="tasks-section__tasks-list items-list">
                    <li class="list-item">
                        <div class="tasks-list__tasks-todo-title block-title">
                            <label for="tasks-todo__checkbox" class="show-items-button">
                                <span>Нужно сделать</span>
                                <input type="checkbox" id="tasks-todo__checkbox">
                                {% if theme %}
                                <img src="{% static 'img/workspace/arrow-light.svg' %}" alt="←">
                                {% else %}
                                <img src="{% static 'img/workspace/arrow.svg' %}" alt="←">
                                {% endif %}
                            </label>
                        </div>
                        <ul class="tasks-list__tasks-todo-list items-list">
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="tasks-list__tasks-progress-title block-title">
                            <label for="tasks-progress__checkbox" class="show-items-button">
                                <span>В процессе</span>
                                <input type="checkbox" id="tasks-progress__checkbox">
                                {% if theme %}
                                <img src="{% static 'img/workspace/arrow-light.svg' %}" alt="←">
                                {% else %}
                                <img src="{% static 'img/workspace/arrow.svg' %}" alt="←">
                                {% endif %}
                            </label>
                        </div>
                        <ul class="tasks-list__tasks-progress-list items-list">
                        </ul>
                    </li>
                    <li class="list-item">
                        <div class="tasks-list__tasks-done-title block-title">
                            <label for="tasks-done__checkbox" class="show-items-button">
                                <span>Выполнено</span>
                                <input type="checkbox" id="tasks-done__checkbox">
                                {% if theme %}
                                <img src="{% static 'img/workspace/arrow-light.svg' %}" alt="←">
                                {% else %}
                                <img src="{% static 'img/workspace/arrow.svg' %}" alt="←">
                                {% endif %}
                            </label>
                        </div>
                        <ul class="tasks-list__tasks-done-list items-list">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside__switch-block">
            {% if theme %}
            <label for="change-theme" class="switch-block__light-theme switch-theme">
                <img src="{% static 'img/workspace/sun-light.svg' %}" alt="The Sun">
                <span>Light</span>
            </label>
            <label for="change-theme" class="switch-block__dark-theme switch-theme" state="active">
                <img src="{% static 'img/workspace/moon-light.svg' %}" alt="The Moon">
                <span>Dark</span>
            </label>
            <input type="checkbox" class="switch-block__input" id="change-theme" checked>
            {% else %}
            <label for="change-theme" class="switch-block__light-theme switch-theme" state="active">
                <img src="{% static 'img/workspace/sun.svg' %}" alt="The Sun">
                <span>Light</span>
            </label>
            <label for="change-theme" class="switch-block__dark-theme switch-theme">
                <img src="{% static 'img/workspace/moon.svg' %}" alt="The Moon">
                <span>Dark</span>
            </label>
            <input type="checkbox" class="switch-block__input" id="change-theme">
            {% endif %}
            <span class="switch-block__slider"></span>
        </div>
    </aside>

    <header class="header">
        <div class="header__current-project-name"></div>
        <div class="header__user-function-icons">
            <a class="user-function-icons__search-icon">
                {% if theme %}
                <img src="{% static 'img/workspace/search-light.svg' %}" alt="The loupe">
                {% else %}
                <img src="{% static 'img/workspace/search.svg' %}" alt="The loupe">
                {% endif %}
            </a>
            <a class="user-function-icons__notification-icon">
                {% if notifications %}
                    {% if theme %}
                    <img src="{% static 'img/workspace/notification_active-light.svg' %}" alt="The bell">
                    {% else %}
                    <img src="{% static 'img/workspace/notification_active.svg' %}" alt="The bell">
                    {% endif %}
                {% else %}
                    {% if theme %}
                    <img src="{% static 'img/workspace/notification-light.svg' %}" alt="The bell">
                    {% else %}
                    <img src="{% static 'img/workspace/notification.svg' %}" alt="The bell">
                    {% endif %}
                {% endif %}
            </a>
            <a class="user-function-icons__user-profile-icon">
                {% if photo %}
                    <img src="{{ photo.url }}" alt="User's photo">
                {% else %}
                    {% if theme %}
                    <img src="{% static 'img/workspace/user-profile-icon-light.svg' %}" alt="User's photo">
                    {% else %}
                    <img src="{% static 'img/workspace/user-profile-icon.svg' %}" alt="User's photo">
                    {% endif %}
                {% endif %}
            </a>
        </div>
    </header>

    <main class="main">
        <p style="font-size: 2rem;">{{ email }}</p>
        <div id="modal-background">
            <div class="create-smth-modal-window">
                <div class="create-smth-modal-window__form-title form-title">
                    <span>Создание</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="←">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="←">
                        {% endif %}
                    </a>
                </div>
                <div class="create-smth-modal-window__form">
                    {% csrf_token %}
                    <div class="form__create-project-button create-smth-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/project-logo-light.svg' %}" alt="Project logo">
                        {% else %}
                        <img src="{% static 'img/workspace/project-logo.svg' %}" alt="Project logo">
                        {% endif %}
                        <span class="form__button-caption">Проект</span>
                    </div>
                    <div class="form__create-task-button create-smth-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/task-logo-light.svg' %}" alt="Project logo">
                        {% else %}
                        <img src="{% static 'img/workspace/task-logo.svg' %}" alt="Project logo">
                        {% endif %}
                        <span class="form__button-caption">Задача</span>
                    </div>
                </div>
            </div>

            <div class="project-modal-window">
                <div class="form-title">
                    <span>Создать проект</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                        {% endif %}
                    </a>
                </div>
                <form class="project-modal-window__form" method="post">
                    {% csrf_token %}
                    <input type="flag" name="create-project" style="display: none;" value="True">
                    <div class="project-modal-window__input-project-name">
                        <label for="project-name">Название</label>
                        <input type="text" id="project-name" name="project-name"
                            placeholder="Название должно содержать от 5 до 50 символов и использовать английские буквы.">
                    </div>
                    <div class="project-modal-window__select-coworkers">
                        <label for="project-coworkers">Коллеги</label>
                        <select id="project-coworkers" type='select' name="project-coworkers" multiple>
                            {% for friend in friends %}
                            <option value="{{ friend.email }}">{{ friend.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="button" class="project-modal-window__submit-button" value="Создать">
                    <input type="button" class="project-modal-window__delete-button" value="Удалить">
                </form>
            </div>

            <div class="task-modal-window">
                <div class="form-title">
                    <span>Создать задачу</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                        {% endif %}
                    </a>
                </div>
                <form class="task-modal-window__form" method="post">
                    {% csrf_token %}
                    <input type='flag' name="create-task" style="display: none;"  value="True">
                    <div class="task-modal-window__main-fields">
                        <div class="task-modal-window__input-task-name">
                            <label for="task-name">Название</label>
                            <input type="text" id="task-name" name="task-name" placeholder="Название должно содержать от 5 до 50 символов и использовать английские буквы.">
                        </div>
                        <div class="task-modal-window__input-task-description">
                            <label for="task-description">Описание</label>
                            <textarea type='txtarea' name="task-description" id="task-description" rows="25"></textarea>
                        </div>
                    </div>
                    <div class="task-modal-window__secondary-fields">
                        <div class="task-modal-window__select-project">
                            <label for="task-project">Проект</label>
                            <select type="select" name="task-project" id="task-project">
                                {% for project in own_projects %}
                                <option value="{{ project.title }}" p-type="own">{{ project.title }}</option>
                                {% endfor %}
                                {% for project in other_projects %}
                                <option value="{{ project.title }}" p-type="other">{{ project.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="task-modal-window__select-task-executors">
                            <label for="task-executors">Исполнители</label>
                            <select type="select" id="task-executors" name="task-executors" multiple></select>
                        </div>
                        <div class="task-modal-window__set-task-deadline">
                            <label for="task-deadline">Срок выполнения</label>
                            <input type="date" name="task-deadline" id="task-deadline">
                        </div>
                        <div class="task-modal-window__set-task-priority">
                            <label for="task-priority">Приоритет</label>
                            <select type="select" id="task-priority" name="task-priority">
                                <option value="1">High</option>
                                <option value="2">Middle</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                        <div class="task-modal-window__set-task-status">
                            <label for="task-status">Статус</label>
                            <select type="select" id="task-status" name="task-status">
                                <option value="Todo">Todo</option>
                                <option value="InProgress">In progress</option>
                                <option value="Done">Done</option>
                            </select>
                        </div>
                    </div>
                    <input type="button" class="task-modal-window__submit-button" value="Создать">
                    <input type="button" class="task-modal-window__delete-button" value="Удалить">
                </form>
            </div>

            <div class="search-modal-window">
                <div class="form-title">
                    <span>Поиск пользователей</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                        {% endif %}
                    </a>
                </div>
                <div class="search-modal-window__form">
                    <input type="text" name="search-field" id="search-field" placeholder="Введите имя или почту пользователя">
                </div>
                <ul class="search-modal-window__search-results"></ul>
            </div>

            <div class="notification-modal-window">
                <div class="form-title">
                    <span>Уведомления</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                        {% endif %}
                    </a>
                </div>
                <div class="notification-modal-window__notifications-list">
                    {% for notification in notifications %}
                        <div class="notifications-list__notification">
                            <span n-id="{{ notification.id }}" style="display: none;"></span>
                            <div class="notification__title">
                                {% if notification.type == 'FriendRequest' %}
                                    <span>Запрос в друзья</span>
                                {% elif notification.type == 'FriendRequestAccepted' %}
                                    <span>Запрос в друзья был принят!</span>
                                {% elif notification.type == 'Unfriending' %}
                                    <span>Удаление из друзей</span>
                                {% elif notification.type == 'SetProjectCoworker' %}
                                    <span>Прикрепление к новому проекту</span>
                                {% elif notification.type == 'DeleteProjectCoworker' %}
                                    <span>Удаление из состава сотрудников проекта</span>
                                {% elif notification.type == 'AddProjectCoworker' %}
                                    <span>Добавление в состав сотрудников проекта</span>
                                {% elif notification.type == 'SetTaskExecutor' %}
                                    <span>Прикрепление к новой задаче</span>
                                {% elif notification.type == 'DeleteTaskExecutor' %}
                                    <span>Удаление из списка исполнителей задачи</span>
                                {% elif notification.type == 'AddTaskExecutor' %}
                                    <span>Добавление в список исполнителей задачи</span>
                                {% elif notification.type == 'DeadlineApproaching' %}
                                    <span>Срок выполнения задачи подходит к концу!</span>
                                {% elif notification.type == 'DeadlineOver' %}
                                    <span>Срок выполнения задачи истёк!</span>
                                {% elif notification.type == 'EmailConfirmation' %}
                                    <span>Необходимо подтверждение электронной почты!</span>
                                {% endif %}
                                    <a class="hide-notification-button">
                                        {% if theme %}
                                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                                        {% else %}
                                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                                        {% endif %}
                                    </a>
                            </div>
                            {% if notification.type == 'FriendRequest' %}
                                <div class="notification__description">
                                    <span class="notification__message">Вам был отправлен запрос дружбы от пользователя <b>{{ notification.sender.email }}</b>!</span>
                                    <div class="notification__answer-buttons">
                                        <a class="answer-buttons__accept-button">
                                            {% if theme %}
                                            <img src="{% static 'img/workspace/accept-light.svg' %}" alt="Accept the request">
                                            {% else %}
                                            <img src="{% static 'img/workspace/accept.svg' %}" alt="Accept the request">
                                            {% endif %}
                                        </a>
                                        <a class="answer-buttons__reject-button">
                                            {% if theme %}
                                            <img src="{% static 'img/workspace/reject-light.svg' %}" alt="Reject the request">
                                            {% else %}
                                            <img src="{% static 'img/workspace/reject.svg' %}" alt="Reject the request">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            {% elif notification.type == 'FriendRequestAccepted' %}
                                <span class="notification__message">Пользователь <b>{{ notification.sender.email }}</b> принял Ваш запрос дружбы!</span>
                            {% elif notification.type == 'Unfriending' %}
                                <span class="notification__message">Пользователь <b>{{ notification.sender.email }}</b> удалил Вас из своего списка друзей.</span>
                            {% elif notification.type == 'SetProjectCoworker' %}
                                <span class="notification__message">Ваш друг, <b>{{ notification.sender.email }}</b>, создал новый проект <b>{{notification.project }}</b> и указал Вас, как одного из его сотрдуников.</span>
                            {% elif notification.type == 'DeleteProjectCoworker' %}
                                <span class="notification__message">Вы были удалены из состава сотрудников проекта <b>{{ notification.project }}</b>, созданного вашим другом <b>{{ notification.sender.email }}</b>.</span>
                            {% elif notification.type == 'AddProjectCoworker' %}
                                <span class="notification__message">Вы были добавлены в состав сотрудников проекта <b>{{ notification.project }}</b>, созданного вашим другом <b>{{ notification.sender.email }}</b>.</span>
                            {% elif notification.type == 'SetTaskExecutor' %}
                                <span class="notification__message">Один из сотрудников проекта <b>{{ notification.project }}</b>, <b>{{ notification.sender.email }}</b>, создал новую задачу <b>{{ notification.task }}</b> и указал Вас, как одного из её исполнителей.</span>
                            {% elif notification.type == 'DeleteTaskExecutor' %}
                                <span class="notification__message">Вы были удалены из списка исполниетелей задачи <b>{{ notification.task }}</b> проекта <b>{{ notification.project }}</b> одним из его сотрудников, <b>{{ notification.sender.email }}</b>.</span>
                            {% elif notification.type == 'AddTaskExecutor' %}
                                <span class="notification__message">Вы были добавлены в список исполнителей задачи <b>{{ notification.task }}</b> проекта <b>{{ notification.project }}</b> одним из его сотрудников, <b>{{ notification.sender.email }}</b>.</span>
                            {% elif notification.type == 'DeadlineApproaching' %}
                                <span class="notification__message">Срок выполнения задачи <b>{{ notification.task }}</b> проекта <b>{{ notification.project }}</b> подходит к концу! Советуем обратить на это внимание, чтобы успеть завершить всё вовремя!</span>
                            {% elif notification.type == 'DeadlineOver' %}
                                <span class="notification__message">Срок выполнения задачи <b>{{ notification.task }}</b> проекта <b>{{ notification.project }}</b> истёк! Советуем обратить на это внимание, чтобы подвести итоги выполнения задачи или перенести срок её выполнения!</span>
                            {% elif notification.type == 'EmailConfirmation' %}
                                <span class="notification__message">Просим Вас осуществить подтверждение указанной при регистрации электронной почты, введя специальный код, отправленный Вам на почту, в отдельном поле Вашего профиля!</span>  
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="user-profile-modal-window">
                <div class="form-title">
                    <span>Профиль</span>
                    <a class="close-modal-window-button">
                        {% if theme %}
                        <img src="{% static 'img/workspace/close-icon-light.svg' %}" alt="x">
                        {% else %}
                        <img src="{% static 'img/workspace/close-icon.svg' %}" alt="x">
                        {% endif %}
                    </a>
                </div>
                <div class="user-profile-modal-window__form">
                    <div class="form__user-info">
                        <div class="user-info__photo">
                            {% if photo %}
                                <img src="{{ photo.url }}" alt="User's photo">
                            {% else %}
                                {% if theme %}
                                    <img src="{% static 'img/workspace/user-profile-icon-light.svg' %}" alt="User's photo">
                                {% else %}
                                    <img src="{% static 'img/workspace/user-profile-icon.svg' %}" alt="User's photo">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="user-info__username-email">
                            <span>{{ username }}</span>
                            <span>{{ email }}</span>
                        </div>
                        <label class="user-info__change-photo-button" for="change-photo">Изменить фото</label>
                        <input type="file" name="change-photo" id="change-photo" accept=".png, .jpg, .jpeg">
                        <a class="user-info__delete-photo-button">Удалить фото</a>
                        <div class="user-info__username">
                            <label for="username">Псевдоним</label>
                            <input type="text" id="change-username" name="change-username" old-username="{{ username }}" placeholder="Введите новый псевдоним (от 5 до 50 символов)">
                            <a class="user-info__change-username-button">Изменить псевдоним</a>
                        </div>
                        <div class="user-info__password">
                            <label for="email">Пароль</label>
                            <a href="{% url 'password-change' %}" class="user-info__change-password-button">Изменить пароль</a>
                        </div>
                    </div>
                    <div class="form__user-friends">
                        <span class="user-friends__title">Друзья</span>
                        <ul class="form__user-friends-list">
                            {% if not friends %}
                                <li style="font-size: 2rem;">Друзей пока нет :(</li>
                            {% endif %}
                            {% for friend in friends %}
                            <li class="user-friends__item">
                                {% if friend.photo %}
                                <img src="{{ friend.photo.url }}" class="item__item-photo">
                                {% else %}
                                {% if theme %}
                                <img src="{% static 'img/workspace/user-profile-icon-light.svg' %}" class="item__item-photo">
                                {% else %}
                                <img src="{% static 'img/workspace/user-profile-icon.svg' %}" class="item__item-photo">
                                {% endif %}
                                {% endif %}
                                <span class="item__item-name">{{ friend.username }}</span>
                                <span class="item__item-email">{{ friend.email }}</span>
                                {% if theme %}
                                <img src="{% static 'img/workspace/delete-friend-light.png' %}" n-type="Unfriending" class="item__delete-item-button">
                                {% else %}
                                <img src="{% static 'img/workspace/delete-friend.svg' %}" n-type="Unfriending" class="item__delete-item-button">
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <form class="form__logout" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Выйти из аккаунта">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type='module' src="{% static 'js/workspace.js' %}"></script>
    {% if theme %}
    <script>
        let event = new Event('click');
        document.getElementById('change-theme').dispatchEvent(event);
    </script>
    {% endif %}
</body>

</html>